:root {
  --primary-color: #1b1b32;
  --secondary-color: #343a40;
  --accent-color: rgb(13, 110, 253);
  --background-light: #f5f6f7;
  --text-dark: #333;
  --text-light: #fff;
}

.navbar {
  transition: all 0.3s ease-in-out;
  background-color: #343a40;
  height: 7%;
}
.navbar.scrolled {
  background-color: #343a40; /* Oscuro */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* Añade un margen superior al cuerpo para evitar que el contenido se solape con el navbar */
/*General*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
 font-size: 2rem;
 padding: 15px 0;
 font-family: serif;
}

h1 {
  font-size: 2.5rem;
  font-family: serif;
}

.section-text {
  font-size: 1.2rem;
}

.section-description{
  font-size: 1.2rem;
  color: #584e4e;
}



.dark-text{
  color: black;
}
.white-text{
  color: white;
}

/* .btn_more_projects{
  font-size: 1.1rem;
  margin-bottom: 100px;
  padding: 10px 20px;
} */

.dark-section {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.light-section {
  background-color: var(--background-light);
  color: var(--text-dark);
}

/*Section Hero*/
.hero{
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal{
  padding: 3rem; 
}

.hero-principal h2{
  font-size: 1.5rem;
  color: #615151;
}
.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsionarse */
}

/*Section About me*/

.about-me{
 height: 500px;
 padding: 10px;
}

.about-me .container{
  text-align: center;
  max-width: 600px;
}

/*Section Experience*/
.experience{
  padding: 40px 40px 60px 40px;
}
.experience .column{
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in;
}

.experience .column:hover{
  color: white;
  background-color: #1b1b32;
}

.title-experience{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-container{
 font-size: 20px;
 font-weight: bold;
 margin: 10px 0;
}

.badge{
  margin: 5px;

}
.experience i{
  font-size: 2.5rem;
  color: #f5f6f7;
  background-color: #1b1b32;
  padding: 8px 19px;
  border-radius: 50%;
}
/*Section Projects*/
/* Estilos para figcaption */
figcaption {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Altura fija */
  padding: 10px; /* Espaciado interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: white; /* Color del texto */
  text-align: center;
  font-size: 1rem; /* Tamaño de fuente */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}
.recent-projects {
  padding: 60px 20px;
  background-color: white;
  margin-bottom: 200px;
}

.recent-projects .section-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.recent-projects .section-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit:fill;
}
.recent-projects .container {
  padding-top: 40px;
  margin-bottom: 40px;
}

.project {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.overlay{
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay p {
  font-size: 1.5rem;
  font-weight: bold;

}

.overlay .icons-container {
  display: flex;
  gap: 20px;
}

.overlay i {
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.overlay i:hover {
  color: #66AAA0;
}
.btn_more_projects {
  background-color: var(--accent-alt-color);
  border: none;
  transition: var(--transition-smooth);
  padding: 10px 20px;
}

.btn_more_projects:hover {
  background-color: var(--primary-color);
  transform: translateY(-5px);
}

.btn_more_projects i {
  margin-left: 10px;
}
/*Section Contact*/
#contact{
  padding: 40px 20px;
}
.contact .container{
  max-width: 1100px;
  min-height: 50px;
  padding: 20px;
}

.contact .rectangle{
  margin-top: -10rem;
  background-color: rgb(13,110,253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contact .row{
  width:100%;
  display:flex;
  align-items: center;
  
}

.contact .section-description{
  color: #f9f9f9;
  font-size: 1.2rem;
}

.contact button{
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contact button i{
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contact button:hover{
  background-color: #f9f9f9;
  color:black;
}
.contact button:hover i{
  color:black;
}

/*Seccion footer*/
footer{
  min-height: 250px;
}
.footer-logo{
  height: 80px;
  width: 80px;
  margin: 0px;
}

.footer-text{
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;

}

.icons-social-media a{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.icons-social-media i{
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.icons-social-media a:hover{
  background-color: white;
  border: 2px solid rgb(13,110,253);
}

.icons-social-media a:hover i{
  color: black
}
.author-rights{
  font-size: 1.2rem;
  color: white;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: -10px;
}
/*Responsive*/
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen{
    max-height: 400px;
  }
}

@media screen and (max-width: 400px) {
 .overlay p{
   font-size: 18px;
  }
  .overlay i{
    font-size: 40px;
  }
}